.card-img-overlay{
    text-align: center;
    font-size: 30px;
    margin-top: 170px;
    font-style: bold;
}
.card-img-overlay,h1{
     margin-bottom: 20px;
     color: white;
     
}
.card-img-overlay,p{
    margin-bottom: 30px;
     color: grey;
}
.col,h3{
    color: black;
}

.wrap{
     margin-top: 30px;
     text-align: center;
}
.navbar{
    display: none;

}

@media only screen and (max-width:900px) {
.card-img-overlay{
    text-align: center;
    font-size:  15px;
    margin-top: 90px;
    font-style: bold;

}

.logo, .nav{
    display: none;
}

.card-img-overlay,h1{
     font-size: 20px;
     margin-bottom: 5px;
     color: white;     
}

.card-img-overlay,p{
    margin-bottom: 5px;
     color: grey;
}
.col,h3{
    color: black;
}

.row{
     flex-direction: column;
}

.chill {
    width: 100%;
    height: 50%;
    margin-top: 30px;
}

.navbar{
    display: block;
    position: fixed;
    width:100%;
    z-index: 10;

}
}

